.mainContainer {
  height: 100vh;
}

.newCategorySection {
  display: flex;
  padding: 1rem;
  flex-flow: column wrap;
  align-content: flex-start;
  width: 100%;
  height: 100%;
}

.newCategorySection > form {
  padding-top: 10px;
}
