:root {
  --border-color: #3e362e;
  --hover-link-color: #383838;
}

.mainContainer {
  padding: 1rem;
  display: flex;
  flex-flow: column wrap;
}

.postsSection {
  width: 100%;
  height: 100%;
}

.postsHeader {
  display: none;
}

.titleSection {
  align-self: flex-start;
  padding-left: 2rem;
}

.postCategoriesSection {
  display: flex;
  flex-flow: column wrap;
  /* gap: 1px; */
}
.postButtonsSection > form {
  display: flex;
  flex-flow: column wrap;
}

.postButtonsSection {
  display: flex;
  gap: 10px;
}

.post {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  border: 1px solid var(--border-color);
  padding: 1rem;
  color: #000;
}

.posts {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
}

.post > a {
  color: inherit;
}

.post:hover {
  color: var(--hover-link-color);
}

@media (min-width: 550px) {
  .mainContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .postsHeader {
    display: flex;
    justify-content: space-around;
    grid-column: 1/5;
  }

  .posts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1/5;
    padding: 0 0 1rem;
  }

  .post > a {
    display: flex;
    flex-flow: row nowrap;
    grid-column: 1/4;
    text-align: center;
  }

  .post > a > section {
    flex-basis: 100%;
  }

  .post {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1/5;
    padding: 1rem 0 1rem 0;
  }

  .post > section {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }
  .postsSection {
    display: grid;
    grid-column: 1/5;
    height: auto;
  }

  .postUserSection {
    flex-flow: column wrap;
  }

  .postsHeader > span {
    flex-grow: 1;
    flex-basis: 100%;
    text-align: center;
  }

  .postCategoriesSection {
    display: flex;
    flex-flow: column wrap;
  }
}
