:root {
  ---btn-bg-color: #3e362e;
}

/* GENERAL RULES */

/* CSS RESET */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

#root,
body {
  min-height: 100vh;
}

main {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

label {
  font-weight: 500;
}

button {
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: var(---btn-bg-color);
  color: #fff;
  border: none;
}

footer {
  background-color: var(---btn-bg-color);
  padding: 1rem;
  color: #fff;
}
